# Assignment Day 6 | 14th July 2020

__Question 1:__
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
Input Format:
The first line of the input contains an email address. Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [ ]:
#program to trim company name from the email address
i = "vaibhav.patel@circuitwala.com" #email address as an input
l = i[i.find('@')+1:i.rfind('.')] #formula to trim email from front and back to get company name using find and rfind
print("Company Name: ",l)  #print company name

__Question 2:__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma. Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [ ]:
# program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.
str1 = "without,hello,bag,world" #input
str1 = sorted(str1.split(',')) #spilliting string by , and sorting it sorted function
print(",".join(str1)) #using join function joining list into string with , separater

__Question 3:__
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

# Python Sets


A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [ ]:
#sample set
thisset = {"apple", "banana", "cherry"}
print(thisset)

__Access Items__


You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

__Change Items__

Once a set is created, you cannot change its items, but you can add new items.

__Add Items__

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [ ]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

__Get the Length of a Set__

To determine how many items a set has, use the len() method.

In [ ]:
#Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

__Remove Item__

To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
#Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
#Remove the item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

__Join Two Sets__

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

Note: Both union() and update() will exclude any duplicate items.

There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.

__The set() Constructor__

It is also possible to use the set() constructor to make a set.

In [ ]:
#Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

__Question 4:__

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space. Output Format:
Print the missing number

Example:

Input:1 2 4 6 3 7 8

Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
#program to find missing values form sequence
i = "1 2 3 4 6 8 10" #give input values 
print("Input:",i) #printing the input values
m = (i.split(" ")) #spliting and making the soritng list
j = int(m[-1]) #getting length od the list
for k in range(1,j+1): #loop to  get list without missing values
    k = str(k) #converting it into string for comparision
    if k not in i: #checking for the missing value by condition
        print(k,end=" ") #printing missing values

__Question 5:__
    
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be 12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present. Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space. Example:

Input: 12 24 35 24

Output:
12 24 35

In [ ]:
#program to remove duplicated from the sequence
l = "12 24 35 24 88 120 155 88 120 155" #input values
print("Input: ",l) #printing the input values
l = l.split(" ") #splinting the values to generate the list
result = [] #creating empty list to store the elements after comparision
for i in l: #loop to compare all the elements one by one 
    if i not in result: #comparing the result to remove duplicate values
        result.append(i) #generatiing the list
print("Output: "," ".join(result)) #printing the final result