# Day24 | Project 3 Build Decison Tree for Bank Loan - Vaibhav Patel

In [1]:
#import pandas and numpy library
import pandas as pd
import numpy as np

In [2]:
#import required function/methods from sklearn for decision tree and random forest
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [3]:
#importing data from excel
BankLoan = pd.read_excel("//Users/VAIBHAV/Vaibhav/Python/LetUpgrade/LetsUpgradeAssignment/Day24/Data/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [4]:
BankLoan.head() #displays first 5 rows of the dataset

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
BankLoan.isnull().sum() #checking for any Null values in dataset

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [15]:
BankLoan.drop(["ZIP Code"],axis=1) #dropping the not required columns from the dataset

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.8,1,0,0,0,0,1,1

In [37]:
BankLoan.columns #fetching names of the columns of the dataset

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [38]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True) #assigning RandomForestClassifier method to variable rf_model

In [26]:
#creating feature variable for all the IDV
features = ["Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [27]:
#using RandomForestClassifier to get oob score of the model
rf_model.fit(X=BankLoan[features],y=BankLoan["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [29]:
print("OOB Accuracy:")
print(rf_model.oob_score_) #printing the oob score for the model

OOB Accuracy:
0.9878

In [30]:
#using for loop to get oob score for each columns of the data set
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp)

Age 0.04542932166447359
Experience 0.044245545220438415
Income 0.34504245225833
Family 0.10169839157972646
CCAvg 0.18062932839385276
Education 0.16125953449517405
Mortgage 0.044443354286711846
Securities Account 0.005628420286580399
CD Account 0.05351880037615743
Online 0.008363141526936521
CreditCard 0.00974170991161862

### From the above oob score we can say that Income, CCAvg and Education have high score as compare to other IDV so these are the best columns to generate decision tree

In [39]:
#creating variable tree_model to for DecisionTreeClassifier
tree_model = tree.DecisionTreeClassifier()

In [42]:
#generating the data frame of IDV and assigning it to features variable
features = pd.DataFrame([BankLoan["Income"],BankLoan["CCAvg"],BankLoan["Education"]]).T

In [43]:
#generating the tree model
tree_model.fit(features,BankLoan["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
#creating the decision tree code file
with open("Dtree4.dot","w") as f:
    f = tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education"],out_file=f);

In [45]:
#checking the score with selected IDV for best decision tree
tree_model.score(features,BankLoan["Personal Loan"])

0.9972