In [3]:
#importing the pandas and numpy for the operations
import pandas as pd
import numpy as np

In [4]:
#import required function/methods from sklearn for decision tree and random forest
from sklearn import tree
from sklearn import preprocessing

In [28]:
#importing the RandomForestClassifier to generate model
from sklearn.ensemble import RandomForestClassifier

In [6]:
#using the dataset
attrition = pd.read_csv("//Users/VAIBHAV/Vaibhav/Python/LetUpgrade/LetsUpgradeAssignment/Day24/Data/general_data.csv")

In [29]:
#dispalying the first 5 rows of the dataset
attrition.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,2.69483,Y,11,8,0,11.279936,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,2.69483,Y,23,8,1,11.279936,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,2.69483,Y,15,8,3,11.279936,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,2.69483,Y,11,8,3,11.279936,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,2.69483,Y,12,8,2,11.279936,2,6,0,4

In [32]:
#checking for any Null value in Dataset
attrition.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [33]:
attrition["NumCompaniesWorked"] = np.where(attrition["NumCompaniesWorked"].isnull,attrition["NumCompaniesWorked"].mean(),attrition["NumCompaniesWorked"])

In [34]:
attrition.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [35]:
#replacing the null value in TotalWorkingYears with mean value
attrition["TotalWorkingYears"] = np.where(attrition["TotalWorkingYears"].isnull,attrition["TotalWorkingYears"].mean(),attrition["TotalWorkingYears"])

In [14]:
#converitng the categorical columns into numerical format using LabelEncoder method of preprocessing
label_encoder = preprocessing.LabelEncoder()
attrition["Gender"] = label_encoder.fit_transform(attrition["Gender"])
attrition["BusinessTravel"] = label_encoder.fit_transform(attrition["BusinessTravel"])
attrition["EducationField"] = label_encoder.fit_transform(attrition["EducationField"])
attrition["Department"] = label_encoder.fit_transform(attrition["Department"])
attrition["Attrition"] = label_encoder.fit_transform(attrition["Attrition"])

In [36]:
#checking the first 5 rows after conversation
attrition.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,2.69483,Y,11,8,0,11.279936,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,2.69483,Y,23,8,1,11.279936,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,2.69483,Y,15,8,3,11.279936,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,2.69483,Y,11,8,3,11.279936,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,2.69483,Y,12,8,2,11.279936,2,6,0,4

In [39]:
#generating Random Forest model
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
features = ["Age","BusinessTravel","Department","DistanceFromHome","Education","EducationField","EmployeeCount","Gender","NumCompaniesWorked","PercentSalaryHike","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","YearsAtCompany",
           "YearsSinceLastPromotion","YearsWithCurrManager"]

In [40]:
rf_model.fit(attrition[features],attrition["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [41]:
#checking the oob score of the model
print("OOB Accuracy:")
print(rf_model.oob_score_)

OOB Accuracy:
1.0

In [42]:
#calulating the oob score for all the columns
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp)

Age 0.1623951140146882
BusinessTravel 0.0415244237537071
Department 0.03701257043790116
DistanceFromHome 0.11887337987079373
Education 0.06406128365998086
EducationField 0.06217047955360251
EmployeeCount 0.0
Gender 0.025527304400001907
NumCompaniesWorked 0.0
PercentSalaryHike 0.10954744276418087
StandardHours 0.0
StockOptionLevel 0.05141980008877523
TotalWorkingYears 0.0
TrainingTimesLastYear 0.07279034492157603
YearsAtCompany 0.1088919829016207
YearsSinceLastPromotion 0.06356519913624477
YearsWithCurrManager 0.08222067449692694

### From the above oob score we can say that Income, CCAvg and Education have high score as compare to other IDV so these are the best columns to generate decision tree

In [43]:
#assigning the DecisionTreeClassifier method to tree_model variable
tree_model = tree.DecisionTreeClassifier()

In [45]:
#generating the data fram of all the selected IDV and assign it to variable
temp = pd.DataFrame([attrition["Age"],attrition["DistanceFromHome"],attrition["PercentSalaryHike"],attrition["YearsAtCompany"]]).T

#generating the decision tree model
tree_model.fit(temp,attrition["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [46]:
#generating the file with Decision Tree code
with open("Dtree3.dot","w") as f:
    f = tree.export_graphviz(tree_model,feature_names=["Age","DistanceFromHome","PercentSalaryHike","YearsAtCompany"],out_file =f);

In [47]:
#checking the score of the decision tree model
tree_model.score(temp,attrition["Attrition"])

0.9993197278911564